{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-6 mx-auto">
        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    {{ post.header }}
                </div>
                <div class="card-body">
                    {{ post.content|striptags|slice(0, 200)}}
                    <a href="{{ path('post_item', {id: post.id}) }}">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
